@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container-center {
    @apply container mx-auto pl-4 sm:pl-7 pr-4 sm:pr-7;
  }
}
body {
  @apply bg-bg-f2;
}
.scrollable::-webkit-scrollbar {
  width: 5px;
}
.scrollable::-webkit-scrollbar-track {
  @apply bg-gray-f8;
}
.scrollable::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

.wrapper {
  min-height: 100vh;
  @apply flex flex-col items-stretch;
}
.header,
.content,
.footer {
  flex-shrink: 0;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input:focus {
  border: 0;
  outline: 0;
}