.wrapper {
    min-height: 100vh;
    @apply flex flex-col items-stretch;
}
.header,
.content,
.footer {
    flex-shrink: 0;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





